@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body,
html {
  padding: 0;
  margin: 0;
}

.app-select .ant-select-selection-item .select-left-img {
  display: none;
}

.container {
  width: 90%;
  max-width: 1360px;
  margin: auto;
}

.collapse-no-padding .ant-collapse-header {
  padding: 0px 12px !important;
}

.ant-tabs-top .ant-tabs-nav {
  margin: 0;
}

.ant-collapse-content-box .ant-list .ant-list-empty-text {
  padding: 0px;
}

.ant-empty-normal {
  padding: 0px;
  margin: 0px;
  margin-block: 0px;
}

.ant-empty .ant-empty-image {
  margin-bottom: 0px;
}
