.interface-information {
  .machine-state {
    &.pass,
    &.good {
      background-color: rgba($color: #00ff00, $alpha: 0.4);
    }

    &.fail,
    &.bad {
      background-color: rgba($color: #ff4d4f, $alpha: 0.4);
    }
    &.terrible {
      background-color: rgba($color: #ffa500, $alpha: 0.4);
    }
  }
}

.ant-collapse .ant-collapse-item .ant-collapse-header {
  align-items: center;
}

.ant-collapse .ant-collapse-item .ant-collapse-header {
  padding: 4px 16px;
}
.ant-collapse .ant-collapse-content .ant-collapse-content-box {
  padding: 5px 5px;
}

.ant-list-item {
  padding: 2px 5px;
}
