<launch>

  <machine name="local" address="localhost"/>
  <machine name="node02" address="node02" env-loader="$(find nrc_svcs)/launch/env.sh" />
  <arg name="record_machine" default="local" />
  <arg name="suffix" default="" />

  <!-- Enable / Disable subsystem recording -->
  <arg name="record_system_front_tower_cameras" default="true"/>
  <arg name="record_system_other_cameras" default="true"/>
  <arg name="record_system_lidar" default="false"/>
  <arg name="record_system_main" default="true"/>
  <arg name="record_pc_processor_all" default="true"/>
  <arg name="record_wm_all" default="true"/>
  <arg name="record_dm_lite" default="false"/>
  <arg name="record_dm_all" default="true"/>
  <arg name="record_ralp_all" default="true"/>
  <arg name="record_validation" default="false"/>
  <arg name="record_tlr" default="false"/>
  <arg name="record_tlr_outputs" default="false"/> <!-- note: in order to record tlr outputs, both record_tlr and record_tlr_outputs must be set to true -->
  <arg name="record_aeva_pc" default="false"/>
  <arg name="record_aeva_ultrares_pc" default="false"/>
  <arg name="record_aeva_other_outputs" default="false"/>
  <arg name="record_innovusion" default="true"/>
  <arg name="record_ariya_messages" default="false"/>
  <arg name="record_cubtek_raw_messages" default="false"/>
  <arg name="record_arbe_processed_messages" default="true"/>
  <arg name="record_labeled_pc" default="false"/>
  
  <arg name="prefix" default="autonomy_log" />
  <arg name="compression" default="false" /> <!--bz2 compression -->
  <arg name="labeledPcCompression" default="lz4" /> <!--bz2 compression -->

  <arg name="system_front_tower_cameras_topics"
  default="/monitor_cam_front/image_stamped/compressed
  |/tower_cam_front/image_stamped/compressed
  |/roof_cam_front/image_rect_color/compressed
  |/humanising_autonomy_image/compressed
  |/humanising_autonomy_image_display_data_George/compressed
  |/humanising_autonomy_image_display_data_Foxtrot/compressed
  |/humanising_autonomy_image_display_data_Echo/compressed
  |/humanising_autonomy_image_display_data_Bravo/compressed
  |/traffic_light_state/traffic_light_recognition_image/compressed
  |/trigger_signal"/>
  
  <arg name="system_other_cameras_topics"
  default="/monitor_cam_front/image_raw
  |/tower_cam_back/image_stamped/compressed
  |/tower_cam_backRight/image_stamped/compressed
  |/tower_cam_backLeft/image_stamped/compressed
  |/roof_cam_frontR/image_rect_color/compressed
  |/roof_cam_frontL/image_rect_color/compressed"/>
  
  <arg name="system_lidar_topics"
  default="/velodyne_packets
  |/velodyne_points
  |/luminar_front/pointCloud
  |/luminar_left/pointCloud
  |/luminar_right/pointCloud
  |/luminar_back/pointCloud
  |/detection_recog_results/tower_cam_front
  |/detection_recog_results/tower_cam_frontLeft
  |/detection_recog_results/tower_cam_frontRight
  |/detection_recog_results/tower_cam_back
  |/detection_recog_results/tower_cam_backLeft
  |/detection_recog_results/tower_cam_backRight
  |/radar
  |/radar_bf"/>  

  <arg name="system_main_topics" 
  default="/dynamic_global_pose
  |/MapMatch/modelErr
  |/NavSatFix_f9r
  |/Imu_f9r
  |/Twist_f9r
  |/GpsDiag_f9r
  |/gps_state(.*)
  |/MapMatch_offset
  |/dynamic_global_pose_conv
  |/raw_nmea
  |/dynamic_global_pose
  |/dynamic_global_pose_odo
  |/dynamic_global_pose_odoGps
  |/Pose_gps
  |/ME3_ObjData
  |/ME3_LKA_left
  |/ME3_LKA_right
  |/ME4_Lanes
  |/ME4_Road_Edges
  |/ME4_ObjData
  |/ME4_Obj_rviz
  |/ME4_SLD_Lines
  |/ME4_SLD_Lines_rviz
  |/ME4_TFL_Spot_Array
  |/ME4_TFL_Structure_Array
  |/ME4_TFL_rviz
  |/ME4_TSR
  |/ME4_(.*)
  |/ME5_(.*)
  |/Mobileye4_CANData
  |/Mobileye5_CANData
  |/ME4_Path_Prediction
  |/drive_goals_with_lanes_from_lane_markings
  |/drive_goals_with_lanes_from_BE
  |/ContiRadar_ObjData
  |/controller_state
  |/CtrlStateFLG
  |/driver_input
  |/accel_state
  |/Radar_ObjData
  |/CAN/Odometry
  |/CAN/OdometryInput
  |/CAN_V_reader
  |/bsm
  |/psm
  |/intent
  |/alert
  |/ladyBugs
  |/ibeo_object_set
  |/radar
  |/radar_bf
  |/bci_request
  |/driver_request
  |/driver_request_debug"/>
  
  <arg name="labeled_pc_topics"
  default="/pc_processor/labeled_pc"/>
  
  <arg name="pc_processor_all_topics" 
  default="/drivable_area_boundary_points
  |/drivable_area_boundary_points_with_edge_points
  |/drivable_area_boundary_points_raw
  |/pc_processor/multi_object_tracker/tracked_object_set
  |/pc_processor/visible_space/visible_space_ray_points
  |/visible_space_data
  |/visible_space_fused_data
  |/visible_space_peer_data
  |/rd_processor/ariya_bs_radar_objects
  |/rd_processor/ariya_back_radar_objects
  |/rd_processor/ariya_front_radar_objects
  |/rd_processor/tracked_object_set
  |/rd_processor/visible_space/visible_space_radial_points"/>
  
  <arg name="wm_all_topics" 
  default="/swm_node
  |/tlStatus
  |/drivable_area_filtered
  |/master_filter/object_database
  |/dds_object_databse_fused_data
  |/ailsv_tracked_objects
  |/ailsv_predicted_trajectories
  |/prediction_error"/>
  
  <arg name="dm_lite_topics" 
  default="/drive_plan
  |/route_plan"/>
  
  <arg name="dm_all_topics" 
  default="|/modia/(.*)
  |/humanising_autonomy
  |/humanising_autonomy/(.*)
  |/route_plan/(.*)
  |/drive_plan
  |/traffic_light_state
  |/traffic_light/detection
  |/smart_eye_driver_state
  |/intelligent_pedal
  |/abstractors/information/center_line_points
  |/woz/keystroke"/>

<arg name="ignore_dm_topics"
  default="/modia/information/blocking(.*)"/>

  <arg name="ralp_all_topics"
  default="/lane_planner_state
  |/lane_follower_state
  |/lane_planner_desired_path
  |/lane_planner_planned_path
  |/longPath
  |/planned_path
  |/vehicle_trajectory_control
  |/combined_control
  |/control_inputs
  |/SpeedPlan
  |/SpeedPlanOccGridPanel
  |/point_of_no_return
  |/ailsv_osp_merge
  |/hazard_zone
  |/hyperdrive_display_publisher
  |/hyperdrive_debug_publisher
  |/hyperdrive_outputs
  |/hyperdrive_tube_output
  |/SpeedPlanOccGridPanel
  |/perfect_decel
  |/arduino_perfect_decel
  |/speed_profile_perfect_decel
  |/stop_line_dist_info
  |/whisper_out_perfect_decel
  |/perfect_decel_lookup
  |/prm/reference_path_data
  |/prm/osp_constraints_lv_ids
  |/prm/risk_classifier_output
  |/prm/risk_field_static_points
  |/mprc_path
  |/metrics
  |/follower_debugSignals"/>
  
  <arg name="validation_topics"
  default="/controller_state
  |/driver_input
  |/control_inputs
  |/CAN/Odometry
  |/CAN/OdometryInputs
  |/dynamic_global_pose"/>

  <arg name="aeva_pc_topics"
  default="/aeva/point_cloud"/>

  <arg name="aeva_ultrares_pc_topics"
  default="/aeva/ultrares_point_cloud"/>

  <arg name="aeva_other_topics"
  default="/aeva/health/codes
  |/aeva/health/header
  |/aeva/imu
  |/aeva/object_list/detections
  |/aeva/object_list/markers
  |/aeva/odometry
  |/aeva/velocity"/>

  <arg name="innovusion_topics"
  default="/iv_points"/>
  
  <arg name="cubtek_raw_topics"
  default="/cubtek_PC_rviz_R
  |/cubtek_PC_rviz_L
  |/cubtek_raw_points
  |/cubtek_raw_PC
  |/cubtek_dbscan_PC
  |/dbscan_out"/> 
  
  <arg name="arbe_processed_topics"
  default="/arbe/processed/(.*)"/>  

  <arg name="ariya_messages"
  default="/AriyaBlindSpotRadar_L
    |/AriyaBlindSpotRadar_R
    |/AriyaBlindSpotRadar_rviz
    |/AriyaCanMsgRaw
    |/AriyaSurroundRadar_2_FrL
    |/AriyaSurroundRadar_2_FrR
    |/AriyaSurroundRadar_FrL
    |/AriyaSurroundRadar_FrR
    |/AriyaSurroundRadar_Fr_rviz
    |/AriyaSurroundRadar_L
    |/AriyaSurroundRadar_R
    |/AriyaSurroundRadar_S_rviz
    |/Ariya_Camera_Infra_Lanes_rviz
    |/Ariya_Camera_Infra_TFL_rviz
    |/Ariya_Camera_Infra_TSR_rviz
    |/Ariya_Camera_Infrastructure_Array
    |/Ariya_Camera_Obj_Array
    |/Ariya_Camera_Obj_rviz
    |/Ariya_Radar_Obj_Array
    |/Ariya_Radar_Obj_rviz
    |/CanAriyaITS3
    |/CanAriyaITS4
    |/CanAriyaITS5
    |/AriyaCanInput
    |/AriyaTargetSpeed"/>
  
  <node if="$(arg record_system_front_tower_cameras)" pkg="nrc_svcs" type="rosbagrecord.sh" name="rosbag_record_system_front_tower_cameras" output="screen"
  args="$(arg compression) -o $(arg prefix)_system_front_tower_cameras -e $(arg system_front_tower_cameras_topics)"  machine="$(arg record_machine)"/>
  
  <node if="$(arg record_system_other_cameras)" pkg="nrc_svcs" type="rosbagrecord.sh" name="rosbag_record_system_other_cameras" output="screen"
  args="$(arg compression) -o $(arg prefix)_system_other_cameras -e $(arg system_other_cameras_topics)" machine="$(arg record_machine)"/>
  
  <node if="$(arg record_system_lidar)" pkg="nrc_svcs" type="rosbagrecord.sh" name="rosbag_record_system_lidar" output="screen"
  args="$(arg compression) -o $(arg prefix)_system_lidar -e $(arg system_lidar_topics)" machine="$(arg record_machine)"/>

  <node if="$(arg record_system_main)" pkg="nrc_svcs" type="rosbagrecord.sh" name="rosbag_record_for_system_main" output="screen"
  args="$(arg compression) -o $(arg prefix)_system_main -e $(arg system_main_topics)" machine="$(arg record_machine)"/>  
    
  <node if="$(arg record_pc_processor_all)" pkg="nrc_svcs" type="rosbagrecord.sh" name="rosbag_record_pc_processor_all" output="screen"
  args="$(arg compression) -o $(arg prefix)_pc_processor_all -e $(arg pc_processor_all_topics)" machine="$(arg record_machine)"/>  

  <node if="$(arg record_wm_all)" pkg="nrc_svcs" type="rosbagrecord.sh" name="rosbag_record_wm_all" output="screen"
  args="$(arg compression) -o $(arg prefix)_wm_all -e $(arg wm_all_topics)" machine="$(arg record_machine)"/>  
  
  <node if="$(arg record_dm_lite)" pkg="nrc_svcs" type="rosbagrecord.sh" name="rosbag_record_dm_lite" output="screen"
  args="$(arg compression) -o $(arg prefix)_dm_lite -e $(arg dm_lite_topics)" machine="$(arg record_machine)"/>   
 
  <node if="$(arg record_dm_all)" pkg="nrc_svcs" type="rosbagrecord.sh" name="rosbag_record_dm_all" output="screen"
  args="$(arg compression) -o $(arg prefix)_dm_all -e $(arg dm_all_topics) -x $(arg ignore_dm_topics)" machine="$(arg record_machine)"/>   
 
  <node if="$(arg record_ralp_all)" pkg="nrc_svcs" type="rosbagrecord.sh" name="rosbag_record_ralp_all" output="screen"
  args="$(arg compression) -o $(arg prefix)_ralp_all -e $(arg ralp_all_topics)" machine="$(arg record_machine)"/>   
  
  <node if="$(arg record_validation)" pkg="nrc_svcs" type="rosbagrecord.sh" name="rosbag_record_validation" output="screen"
  args="$(arg compression) -o $(arg prefix)_validation_$(arg suffix) -e $(arg validation_topics)" machine="$(arg record_machine)"/>   

  <node if="$(arg record_aeva_pc)" pkg="nrc_svcs" type="rosbagrecord.sh" name="rosbag_record_aeva_pc" output="screen"
  args="$(arg compression) -o $(arg prefix)_aeva_pc -e $(arg aeva_pc_topics)" machine="$(arg record_machine)"/>

  <node if="$(arg record_aeva_ultrares_pc)" pkg="nrc_svcs" type="rosbagrecord.sh" name="rosbag_record_aeva_ultrares_pc" output="screen"
  args="$(arg compression) -o $(arg prefix)_aeva_ultrares_pc -e $(arg aeva_ultrares_pc_topics)" machine="$(arg record_machine)"/>

  <node if="$(arg record_aeva_other_outputs)" pkg="nrc_svcs" type="rosbagrecord.sh" name="rosbag_record_aeva_other" output="screen"
  args="$(arg compression) -o $(arg prefix)_aeva_other -e $(arg aeva_other_topics)" machine="$(arg record_machine)"/>

  <node if="$(arg record_innovusion)" pkg="nrc_svcs" type="rosbagrecord.sh" name="rosbag_record_innovusion" output="screen"
  args="$(arg labeledPcCompression) -o $(arg prefix)_innovusion -e $(arg innovusion_topics)" machine="$(arg record_machine)"/>

  <node if="$(arg record_labeled_pc)" pkg="nrc_svcs" type="rosbagrecord.sh" name="rosbag_record_innovusion_labeled_pc" output="screen"
  args="$(arg labeledPcCompression) -o $(arg prefix)_innovusion_labeled_pc -e $(arg labeled_pc_topics)" machine="$(arg record_machine)"/>
  
  <node if="$(arg record_cubtek_raw_messages)" pkg="nrc_svcs" type="rosbagrecord.sh" name="rosbag_record_cubtek_raw" output="screen"
  args="$(arg compression) -o $(arg prefix)_cubtek_raw -e $(arg cubtek_raw_topics)" machine="$(arg record_machine)"/>
  
  <node if="$(arg record_arbe_processed_messages)" pkg="nrc_svcs" type="rosbagrecord.sh" name="rosbag_record_arbe_processed" output="screen"
  args="$(arg compression) -o $(arg prefix)_arbe_processed -e $(arg arbe_processed_topics)" machine="$(arg record_machine)"/>

  <node if="$(arg record_ariya_messages)" pkg="nrc_svcs" type="rosbagrecord.sh" name="rosbag_record_ariya" output="screen"
  args="$(arg compression) -o $(arg prefix)_ariya -e $(arg ariya_messages)" machine="$(arg record_machine)"/>
  
  <include if="$(arg record_tlr)" file="$(find nrc_svcs)/launch/record_tlr.launch">
    <arg name="record_inputAndOutput" value="$(arg record_tlr_outputs)" machine="$(arg record_machine)"/>
  </include>
  
  <node pkg="nrc_av_ui" type="rosbagRecordMonitor.py" name="RosbagMonitor" args="-d /opt/data/rosbag/ -t BagfileHealth" machine="$(arg record_machine)" output="screen"/>
  
</launch>
