<?xml version="1.0" ?>
<launch>


  

  <machine name="master" address="10.152.36.21" />
  <machine name="airtop01" address="10.152.36.22" env-loader="/home/nissan/projects/nrc_ws/src/nrc_svcs/launch/env.sh" />
  <machine name="airtop02" address="10.152.36.23" env-loader="/home/nissan/projects/nrc_ws/src/nrc_svcs/launch/env.sh" />
  <machine name="airtop03" address="10.152.36.24" env-loader="/home/nissan/projects/nrc_ws/src/nrc_svcs/launch/env.sh" />
  <machine name="airtop04" address="10.152.36.25" env-loader="/home/nissan/projects/nrc_ws/src/nrc_svcs/launch/env_venv.sh" />
  <machine name="airtop05" address="10.152.36.26" env-loader="/home/nissan/projects/nrc_ws/src/nrc_svcs/launch/env_conda.sh" />

  <!-- need to modify IP for jetson -->
  <machine name="jetson01" address="10.152.36.28" env-loader="/home/nissan/projects/nrc_ws/src/nrc_svcs/launch/env_venv_jetson.sh" />
  <machine name="jetson02" address="10.152.36.29" env-loader="/home/nissan/projects/nrc_ws/src/nrc_svcs/launch/env.sh" />
  <machine name="zbox01" address="10.152.36.30" env-loader="/home/nissan/projects/nrc_ws/src/nrc_svcs/launch/env.sh" />
  <machine name="nuvo" address="10.152.36.19" env-loader="/home/nissan/projects/nrc_ws/src/nrc_svcs/launch/env_pyenv.sh" />



  <machine name="local" address="localhost"/>
  <!-- <machine name="nuvo" address="10.152.36.19"/> -->
  <arg name="machine" default="local"/>

  <arg name="vehicle" default="ze1-01"/>
  <arg name="location" default="mm"/>

  <!-- Machines to use -->
  <arg name="ctrl_machine" default="master"/>
  <arg name="gps_machine" default="master"/>
  <arg name="ibeo_machine" default="master" />
  <arg name="watec_front_machine" default="airtop01" />
  <arg name="watec_side_machine" default="airtop01" />
  <arg name="watec_rear_machine" default="airtop01" />
  <arg name="tieriv_machine" default="jetson02" />
  <arg name="avm_machine" default="airtop03" />
  <arg name="ndt_machine" default="airtop02" />
  <arg name="luminar_machine" default="airtop02" />
  <arg name="velodyne_machine" default="airtop02" />
  <arg name="hesai_machine" default="airtop02" />
  <arg name="bosch_com_machine" default="master" />
  <arg name="traffic_light_machine" default="airtop05" />
  <arg name="traffic_light_ped_machine" default="airtop05" />
  <arg name="meye3_machine" default="airtop01" />
  <arg name="pointcloud_processing_machine" default="airtop02" />
  <arg name="bevfusion_machine" default="zbox01" />
  <arg name="image_processing_machine" default="airtop01" />
  <arg name="vehicle_light_detection_machine" default="airtop04" />
  <arg name="sensor_fusion_machine" default="airtop02" />
  <arg name="local_model_machine" default="master" />
  <arg name="route_planner_machine" default="master" />
  <arg name="behavior_exec_machine" default="master" />
  <arg name="path_planning_machine" default="airtop03" />
  <arg name="mfield_machine" default="airtop01" />
  <arg name="teleop_machine" default="nuvo"/>

  <!-- GPS -->
  <arg name="use_trimble" default="false"/>
  <arg name="use_garmin" default="false"/>
  <arg name="use_oxts" default="true"/>

  <!-- Sensors -->
  <arg name="use_ibeo" default="true"/>
  <arg name="use_watec" default="false"/>
  <arg name="use_tieriv" default="true"/>
  <arg name="use_avm" default="true"/>
  <arg name="use_meye3" default="true"/>
  <arg name="use_meye3_trw" default="false"/>
  <arg name="use_luminar" default="true"/>
  <arg name="use_velodyne" default="false"/>
  <arg name="use_hesai" default="true"/>
  <arg name="use_bosch_radar" default="true"/>
  <arg name="use_traffic_lights" default="true"/>


  <!-- Sensors -->
  <include file="$(find nrc_hw_svcs)/launch/sensors.launch" >
    <arg name="vehicle" value="$(arg vehicle)"/>
    <arg name="use_ibeo" value="$(arg use_ibeo)"/>
    <arg name="use_watec" value="$(arg use_watec)"/>
    <arg name="use_tieriv" value="$(arg use_tieriv)"/>
    <arg name="use_avm" value="$(arg use_avm)"/>
    <arg name="use_luminar" value="$(arg use_luminar)"/>
    <arg name="use_velodyne" value="$(arg use_velodyne)"/>
    <arg name="use_hesai" value="$(arg use_hesai)"/>
    <arg name="use_traffic_lights" value="$(arg use_traffic_lights)"/>
    <arg name="ibeo_machine" value="$(arg ibeo_machine)" />
    <arg name="ibeoIpAddress" value="$(arg ibeoIpAddress)"/>
    <arg name="watec_front_machine" value="$(arg watec_front_machine)" />
    <arg name="watec_side_machine" value="$(arg watec_side_machine)" />
    <arg name="watec_rear_machine" value="$(arg watec_rear_machine)" />
    <arg name="tieriv_machine" value="$(arg tieriv_machine)" />
    <arg name="avm_machine" value="$(arg avm_machine)" />
    <arg name="luminar_machine" value="$(arg luminar_machine)" />
    <arg name="velodyne_machine" value="$(arg velodyne_machine)" />
    <arg name="hesai_machine" value="$(arg hesai_machine)" />
    <arg name="traffic_light_machine" value="$(arg traffic_light_machine)" />
  </include>


</launch>
